body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: aquamarine;
    padding: 40px;
    text-align: center;
    font-weight: bold;




}



/* Your Co.Lab inspired styling goes here 

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

*/