<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Co.Lab-CT-Assess.</title>
    
    
</head>


<body>

    <!-- Top Navigation Bar -->
    <div class="navbar">
        <span>Co.Lab <> CT Software Development Assessment</span>
    </div>
    
    <!-- Main Content -->
    <div style="margin-top: 60px;"> <!-- To avoid overlap with the fixed navbar -->
        
        <!-- Bio Section -->
        <div id="bio-section">
            <!-- Button Wrapper -->
            <div class="button-wrapper">

                <div>
                    <button class="button1"><h1>About Gabe Sanchez</h1></button>
                </div>

                <div>
                    <button class="button2"><i>I grew up on the central coast of California, from Santa Cruz to Carmel, from the mellow waves at Pleasure Point to the forest mountain trails of Big Sur</i></button>
                </div>

                <div>
                    <button class="button3"><i>In Software/Tech for nearly 20 years, from Digital Products at a community newspaper, to Business Development for Series D SF startup, now in Growth Consultant role for AI/ML software enterprise</i></button>
                </div>

                <div>
                    <button class="button4"><h1>Thanks for the invite!</h1></button>
                </div>


            </div>
        </div>
    


        <!-- Projects Section -->
        <div id="projects-section">
            <h1>Projects</h1>
            <div class="container">
                <div class="grid-item item1">
                    <img src="static/images/magic8ballQuestion.png" alt="Project 1">
                    <a href="https://9000hal.github.io/javascript_winterCamp_final.Project/">"BTW" Magic 8 Ball</a>
                </div>
                <div class="grid-item item2">
                    <img src="static/images/weather app ss.png" alt="Project 2">
                    <a href="https://9000hal.github.io/Week-7-Day-5-WKND---JavaScript-Individual-Project---Weather-App_HW/">Find My City Weather!</a>
                </div>
                <div class="grid-item item3">
                    <img src="static/images/personal portfolio.png" alt="Project 3">
                    <a href="https://9000hal.github.io/bootstrap-boilerplate/">Coding Temple Intro</a>
                </div>
            </div>
        </div>
    </div>

<br>
<br>


        <!-- API Data Section -->
        <div id="api-section">
            <h1>API Data: <a href="https://jsonplaceholder.typicode.com/">JSON Placeholder</a></h1>
            <div class="container">
                {% for todo in api_data %}
                    <div class="grid-item">
                        <p><em>Todo ID:</em> {{ todo.id }}</p>
                        <p><em>Title:</em> {{ todo.title }}</p>
                        <!--<p><em>Completed:</em> {{ todo.completed }}</p>-->
                    </div>
                {% endfor %}
            </div>
        </div>



        <!-- Why this API? -->
        <div id="why-api">
            <h1>Why JSONPlaceholder?</h1>
            <p>
                JSONPlaceholder was chosen for this project as it is a free online REST API that allows for quick & simple fetching of data for testing/prototyping. It provides a wide range of data types including users, todos, posts, and comments, so it is versatile to simulate API calls for various frontend tasks. Its comprehensive documentation & community support further make it an ideal choice for those gaining experience with API integrations -- like me!
            </p>
        </div>



        <!-- Grid Container 
        <div class="container">
            <div class="grid-item">Item 1</div>
            <div class="grid-item">Item 2</div>
            <div class="grid-item">Item 3</div>
            Add more items here 
        </div>-->
    


        <!-- Database Section -->
        <div id="database-section">
            <h1>Database Version:</h1>
            <p>Connected to PostgreSQL version: 13.11 (Ubuntu 13.11-1.pgdg20.04+1) {{ version }}</p>
        </div>
    
    </div> <!-- Close Main Content Div -->

</body>
</html>


































































































