<!DOCTYPE html>
<html>
<head>
    <title>Co.Lab-CT-Assess.</title>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">--->
    <link rel="stylesheet" href="static/ style.css">
</head>
</head>
<body>

    <!-- Top Navigation Bar -->
    <div class="navbar">
        <span>Co.Lab <> CT Software Development Assessment</span>
    </div>
    
    <!-- Main Content -->
    <div style="margin-top: 60px;"> <!-- To avoid overlap with the fixed navbar -->
        
        <div id="bio-section">
            <h1>About Me</h1>
            <p>Your bio and professional history goes here.</p>
        </div>
    
        <div id="projects-section">
            <h1>Projects</h1>
            <!-- Project links -->
        </div>
    
        <!-- API data goes here -->
        <div id="api-section">
            <h1>API Data</h1>
            <p>Todo: {{ api_data.title }}</p>
        </div>

        <!-- Grid Container -->
        <div class="container">
            <div class="grid-item">Item 1</div>
            <div class="grid-item">Item 2</div>
            <div class="grid-item">Item 3</div>
            <!-- Add more items here -->
        </div>
    
        <!-- Buttons -->
        <div>
            <button class="button">Click Me</button>
        </div>

        <div id="database-section">
            <h1>Database Version</h1>
            <p>Connected to PostgreSQL version: 13.11 (Ubuntu 13.11-1.pgdg20.04+1) {{ version }}</p>
        </div>
    
    </div>
</body>
</html>

















































